<div class="push"></div>
  <footer>
    <aside class="wrap center-block">
      <div class="container">
        <ol class="prev-posts">
        <p class="list-title">Read The Azule Journals</p>
        {% assign items = site.posts | sort: 'date' | reversed %}
        {% for post in items limit:1 %} <!-- for1 -->
            <li>
              <span class="recent-title"><a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}">{{ post.title | strip_html | strip_newlines | truncate: 30 }} </a></span>
              <span class="date">{{post.date | date: "%b %d, %Y" }}</span>
            </li>
        {% endfor %}
          <p class="list-title">Reach Out</p>
          <li><a class="recent-title" id="mail" href="/contact"><span class="foot-link">Contact Me</span></a></li>
       </ol>

      </div>
      <small>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}. Website design by Dillon Wastrack</small>
    </div>
    </aside>
  </footer>

  <!-- If they're out, get some from the cellar -->
  <script>window.jQuery || document.write('<script src="{{ site.url }}/assets/js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
  <script src="{{ site.url }}/assets/js/retina.min.js"></script>

  <!-- Custom JS -->
  <script src="{{ site.url }}/assets/js/scripts.js"></script>



  </body>
</html>
